extend ../base

block content 
 form(method="post")
  input(placeholder="old password", name="oldPassword")
  input(placeholder="new password",name="newPassword")
  input(placeholder="new password confirmation", type="password",name= "newPasswordConfirmation")
  input(value="change password",type="submit")

